[submodule "import/cbor-cpp"]
    path = import/cbor-cpp
    url = https://github.com/pnxs/cbor-cpp.git
[submodule "import/googletest"]
    path = import/googletest
    url = https://github.com/google/googletest.git
[submodule "import/rapidjson"]
    path = import/rapidjson
    url = https://github.com/miloyip/rapidjson.git
[submodule "import/dcg"]
    path = import/dcg
    url = https://github.com/pnxs/dots-code-generator.git
[submodule "import/websocketpp"]
    path = import/websocketpp
    url = https://github.com/zaphoyd/websocketpp.git
[submodule "import/date"]
    path = import/date
    url = https://github.com/HowardHinnant/date.git
